@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
:root {
  --textColor1: #008cff;
  --textColor2: #fff;
  --textColor3: #737594; }

@media screen and (min-width: 320px) {
  html {
    width: 100%; } }

body {
  background-color: #fffaf2;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif !important;
  margin: 0px !important;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

p {
  line-height: 154%; }

h4{
    margin:10px;
}
 
  input,textarea{
    color: #c4c0ba;
    display: block;
    width: 300px;
    height: 10px;
    border-radius: 15px;
    border: none;
    margin: 10px 0px;
    background-color: #f6f1e9;
    padding:16px;
    resize:none;
}
input::placeholder, textarea::placeholder{
    font-family: Pretendard !important; 
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c4c0ba;
 }

#app {
  height: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0px); }
  @media screen and (min-width: 450px) {
    #app {
      width: 450px; } }
  @media screen and (max-width: 450px) {
    #app {
      width: 100%; } }

.fadeInUpReady {
  visibility: hidden; }

/*container size*/
.container {
  width: 100%;
  height: 300px; 
  position: relative;
padding:24px;}
  .container.border {
    border: 1px solid black; }
  .container.video {
    height: 200px;
    width: 100%;
    background-color: #1f1f1f; }
    .container.video div {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
      height: 100%; }
      .container.video div div:nth-child(1) {
        background-color: #eee9e2; }
  .container#mainVideo {
    height: 790px; }
  .container#uniminiTitle {
    height: 600px; }
  .container#textBox1{
    height: 440px;}
  .container#textBox2{
    height: 480px;}
  .container#universityMap {
    height: 1000px; }
  .container#unizone {
    height: 600px;}
  .container#mingle {
    height: 400px; }
  .container#videos {
    height: 844px;
    background-color: black; }
  .container#description {
    height: 366px; }

.mainTitleDeco {
  background-color: black;
  height: 40px;
  border-radius: 25px; }
  .mainTitleDeco#left {
    width: 300%;
    transform: translate(-99.2%, 0); }
  .mainTitleDeco#right {
    width: 400%;
    transform: translate(16%, 0);
    position: relative; }

.movingLine.top {
  height: 70px;
  width: 100%;
  position: relative;
  top: -15px; }
.movingLine.bottom {
    height: 70px;
    width: 100%;
    position: relative;
    top: 155px; }
  .movingLine .line img {
    height: 30px;
    margin-bottom: 10px; }
.movingLine .line{
  position: relative;
}


#universityMapText{
  text-align: right;
  font-weight: 900;
  font-size: 48px;
  z-index: 100;
  margin-right:25px;
}
#universityMapText p{
    line-height:30px;
  text-align: left;
}
#phoneMockUp img{
  z-index: -1;
  width:400px;
  height:auto;
  position: relative;
}

#animation-2 {
  width: 200px;
  height: 46px;
  position: relative;
  top: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #ff3a5b;
  animation: slideOut 1.5s cubic-bezier(0.85,0,0.15,1) forwards;
  box-shadow: 10px 10px 3px rgba(0,0,0,0.15); }

#animation-1 {
  width: 200px;
  height: 46px;
  position: relative;
  top: 5px;
  float: right;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background:#ff3a5b;
  animation: slideOut 1.5s cubic-bezier(0.85,0,0.15,1) forwards;
  box-shadow: 10px 10px 3px rgba(0,0,0,0.15);}

@keyframes stripes {
  to {
    background-size:100% 100%;
  }
}

[data-aos="colorToWhite"] {
  animation: slideOut 1.5s cubic-bezier(0.85,0,0.15,1) forwards;
  color: black;
  background: #eee9e2;
  transition-property: color; 
  }
  [data-aos="colorToWhite"].aos-animate {
    background: linear-gradient( white,white) no-repeat 0 0;
    background-size: 0 100%;
    color:white;
    }

/*text*/
span.shadow{
  text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
}
span.highlighted {
  color: #07c083; }

span.stressed{
  color:#058158;
  font-weight: 900;
}
span.pink{
  color: #ff3a5b
}
span.darkgreen{
    color:#00744e;
}
span.size12 {
  font-size: 12px; }

span.size13 {
  font-size: 13px; }

span.size14 {
  font-size: 14px; }

span.size15 {
  font-size: 15px; }

span.size16 {
  font-size: 16px; }

span.size26 {
  font-size: 26px; }

span.size36 {
    font-size: 36px; } 

span.weight300 {
  font-weight: 300; }

span.weight400 {
  font-weight: 400; }

span.weight500 {
    font-weight: 500; }

span.weight600 {
    font-weight: 600; }

span.weight800 {
  font-weight: 800; }

  span.weight900  {
  font-weight: 900; }

span.grey {
  color: #636363; }

span.black {
  color: rgb(53, 53, 53); }

span.white {
  color: white; }

span.center {
  text-align: center; }

span.smallTitle{
    font-size: 15px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #00a871;
}

.title {
  font-size: 30px; }
  .title.big {
    margin-left: 15px;
    font-size: 34px; 
    font-weight: 900;
    margin-top:5px;}
.title.small{
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
    color: #000;
}

.description {
  margin-left: 20px;
  font-size: 13px; }

/*fixed icon*/
#smallButtonJoinBeta {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 8%;
  bottom: -10%;
  background-color: #07c083;
  border-radius: 35px;
  border: none;
  z-index: 9999;
  transition: bottom .2s; }
  #smallButtonJoinBeta.show {
    bottom: 5%; }

#smallButtonJoinBeta div.icon {
  position: relative;
  top: 10px;
  left: 4px;
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid white; }

#smallButtonJoinBeta div.text {
  position: relative;
  top: 25px;
  right: 36px;
  width: 100px;
  font-size: 12px; }

/*footer*/
footer{
    height:450px !important;
}
#googleFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}
#bigButtonJoinBeta {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 300px;
  height: 50px;
  color: #07c083;
  font-size: 18px;
  text-align: center;
  border-radius: 15px;
  color: var(--textColor2);
  background-image: linear-gradient(135deg, #07c083, #4661ff, #07c083, #4661ff);
  background-size: 400%;
  background-position: 0% 0%;
  border: none; }
  #bigButtonJoinBeta::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 26px;
    background-image: linear-gradient(135deg, #07c083, #4661ff, #07c083, #4661ff);
    background-size: 500%;
    background-position: 0% 0%;
    filter: blur(10px);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s; }
  #bigButtonJoinBeta:hover {
    animation: gradientRotate 2s infinite; }
    #bigButtonJoinBeta:hover::before {
      opacity: 1;
      animation: gradientRotate 2s infinite; }
  #bigButtonJoinBeta:active {
    color: #c3c4d5; }
  #bigButtonJoinBeta:focus::before {
    opacity: 1; }

@keyframes gradientRotate {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 100% 100%; } }

#linkToInstagram {
  text-align: center;
  margin-top: 50px; }
  #linkToInstagram img {
    transform: translate(-20%, 30%); }


.cube {
  position: relative;
  top:160px;
  margin-left:20px;
}
.cubeTextContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cubeText{
  width:342px;
  height:56px;
}
.textBox{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.08);
    margin:0px;
    margin-bottom: 16px;
    border-radius: 18px;
    line-height: 1.6;
    padding:26px;
}
.textBox.white{
    background-color: #fff;
}
.textBox.green{
    background-color: #d3e0dc;
}
#joinTextBox{
    margin-left:16px;
    width: 342px;
    height:200px;
    padding:26px;
}

ul,li{list-style:none;}
    .cubeText{height:56px; width:342px; overflow:hidden;}
    .cubeText ul{ padding:0px; height:calc(100% * 4);animation:slide 12s infinite;}
    .cubeText li{height:calc(100% / 4);}
    .cubeText li:nth-child(1){background:#fff;}
    .cubeText li:nth-child(2){background:#fff;}
    .cubeText li:nth-child(3){background:#fff;}
    .cubeText li:nth-child(4){background:#fff;}
    @keyframes slide {
      0% {margin-top:0;}
      10% {margin-top:0;}
      25% {margin-top:-56px;}
      35% {margin-top:-56px;}
      50% {margin-top:-112px;}
      60% {margin-top:-112px;}
      75% {margin-top:-168px;}
      85% {margin-top:-168px;}
      100% {margin-top:0;}
    } 

#shareLink{
    position: relative;
    top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.shareLinkBtn{
    background-color: transparent;
    border:transparent;
    font-weight: 600;
    color:rgb(53, 53, 53);
}
.shareLinkBtn:active,
.shareLinkBtn:hover{
    text-decoration: underline rgb(53, 53, 53);
}

#alertLinkCopied{
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:180px;
    height:30px;
    background-color: #eee9e2;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top:4520px;
}
#alertLinkCopied.alertInactive{
    visibility: hidden;
}
#alertLinkCopied.alertActive{
    visibility: visible;
    animation:fadeUp 3.5s;
}
@keyframes fadeUp{
    0% {top:4520px; opacity: 0%;}
    10%{top:4510px; opacity: 100%;}
    80%{top:4510px; opacity: 100%;}
    100% {top:4520px; opacity: 0%;}
}