body{
    background-color: #eee9e2;
}
.container{
    height:300px;
    border:1px solid black;
}
span.highlighted{
    color:#07c083;
}
.title{
    margin-left:20px;
    font-size: 30px;
}
.description{
    margin-left:20px;
    font-size:13px;
}



#unizone{
    height:600px;
}

#universityMap{
    height:700px;
}



/*fixed icon*/
#smallButtonJoinBeta{
    width:36px;
    height:36px;
    position: fixed;
    right:8%;
    bottom:7%;
    background-color: #07c083;
    border-radius: 18px;
    border:none;
}
#smallButtonJoinBeta div.icon{
    position: relative;
    top:10px;
    left:4px;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid white;
}
#smallButtonJoinBeta div.text{
    position: relative;
    top:25px;
    right:36px;
    width:100px;
    font-size: 12px;
}



/*footer*/
#bigButtonJoinBeta{
    position: relative;
    left:50%;
    transform: translate(-50%,0%);
    width:240px;
    height:50px;
    background-color: #07c083;
    color : white;
    font-size:18px;
    text-align:center;
    border-radius: 15px;
    border:none;
}