@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
$theme:#07c083;
$background:#eee9e2;
:root {
    --textColor1: #008cff;
    --textColor2: #fff;
    --textColor3: #737594;
  }
  

html{
    @media screen and (min-width:320px){
        width:100%;
    }
}
body{
    background-color: $background;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif !important;
    margin:0px !important;
    overflow: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    }
p{
    line-height:154%;
}
#app{
    height:100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    @media screen and (min-width:450px){
        width:450px;
    }
    @media screen and (max-width:450px){
        width:100%;
    }
}

.fadeInUpReady{
    visibility: hidden;
}

/*container size*/
.container{
    width: 100%;
    height:300px;
    &.border{
        border:1px solid black;
    }
    &.video{
        height:182px;
        width:324px;
        background-color: rgb(31, 31, 31);
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            width:100%;
            height:100%;
            div{
                &:nth-child(1){
                background-color: $background;
                }
            }
        }
    }
    &#mainVideo{
        height:790px;
    }
    &#uniminiTitle{
        height:700px;
        .deco{
            position:relative;
            bottom:275px;
        }
    }
    &#universityMap{
        background-color: black;
        height:800px;
        .movingLine{
            height:220px;
        }
    }
    &#unizone{
        height:200px;
        text-align: right;

    }
    &#mingle{
        height:400px;
    }
    &#videos{
        height:844px;
        background-color: black;
    }
    &#description{
        height:366px;
    }
}

.mainTitleDeco{
    background-color: black;
    height:40px;
    border-radius:25px;
    &#left{
        width:300%;
        transform: translate(-99.2%,0);
    }
    &#right{
        width: 400%;
        transform: translate(16%, 0);
        bottom: 39px;
        position: relative;
    }
}

.movingLine{
    height: 70px;
    width:100%;
    position: relative;
    top:75px;
    .line{
        img{
            height:30px;
            margin-bottom: 10px;
        }
    }
}


#phoneMockUp img{
    position: relative;
    float: right;
    top:2px;
    border-top-left-radius: 20px;
    @media screen and(min-width:390px) {
        width:366px;
    }
}

#animation-2{
    width:200px;
    height:46px;
    position: relative;
    top:5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
    background: $theme;
}

#animation-1{
    width:200px;
    height:46px;
    position: relative;
    top:5px;
    float:right;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
    background: $theme;
}

[data-aos="colorToWhite"]{
    color:black;
    transition-property: color;
    &.aos-animate {
        color:white;
      }
}

/*text*/
span{
    &.highlighted{
        color: $theme;
    }
    &.size12{
        font-size:12px;
    }
    &.size13{
        font-size:13px;
    }
    &.size14{
        font-size:14px;
    }
    &.size16{
        font-size:16px;
    }
    &.size36{
        font-size:36px;
    }
    &.light{
        font-weight: 300;
    }
    &.mid{
        font-weight:600;
    }
    &.bold{
        font-weight: bold;
    }
    &.grey{
        color : #636363;
    }
    &.white{
        color : white;
    }
    &.center{
        text-align: center;
    }

}
.title{
    margin-left:20px;
    font-size: 30px;
    &.big{
    margin-left:15px;
    font-size: 60px;
    }
}
.description{
    margin-left:20px;
    font-size:13px;
}


/*fixed icon*/
#smallButtonJoinBeta{
    width:70px;
    height:70px;
    position: fixed;
    right:8%;
    bottom:-10%;
    background-color: $theme;
    border-radius: 35px;
    border:none;
    z-index: 9999;
    transition:bottom .2s;
    &.show{
        bottom:5%;
    }
}
#smallButtonJoinBeta div.icon{
    position: relative;
    top:10px;
    left:4px;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid white;
}
#smallButtonJoinBeta div.text{
    position: relative;
    top:25px;
    right:36px;
    width:100px;
    font-size: 12px;
}

/*footer*/
#bigButtonJoinBeta{
    position: relative;
    left:50%;
    transform: translate(-50%,0%);
    width:300px;
    height:50px;
    color : $theme;
    font-size:18px;
    text-align:center;
    border-radius: 15px;
    color: var(--textColor2);
    background-image: linear-gradient(135deg, 
    #07c083, #0026ff,#07c083);
    background-size: 400%;
    background-position: 0% 0%;
    border:none;
    
    &::before {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        right: -2px;
        bottom: -2px;
        border-radius: 26px;
        background-image: linear-gradient(135deg, 
        #07c083, #0026ff,#07c083);
        background-size: 500%;
        background-position: 0% 0%;
        filter: blur(10px);
        opacity: 0;
        z-index: -1;
        transition: opacity 0.2s;
    }
    
    &:hover {
        animation: gradientRotate 2s infinite;
        &::before {
        opacity: 1;
        animation: gradientRotate 2s infinite;
        }
    }
    
    &:active {
        color: #c3c4d5;
    }
    
    &:focus {
        &::before {
        opacity: 1;
        }
    }
}

@keyframes gradientRotate {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

#linkToInstagram{
    text-align: center;
    margin-top: 50px;
    img{
        transform: translate(-20%, 30%);
    }
}
