@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
$theme:#07c083;
$background:#eee9e2;

body{
    background-color: $background;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif !important;
    margin:0px !important;
}
p{
    line-height:154%;
}

.container{
    height:300px;
    &.border{
        border:1px solid black;
    }
    &.video{
        height:182px;
        width:324px;
        background-color: grey;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            width:100%;
            height:100%;
            div{
                &:nth-child(1){
                background-color: $background;
                }
            }
        }
    }
    &#mainVideo{
        height:790px;
    }
    &#uniminiTitle{
        height:700px;
        .deco{
            position:relative;
            bottom:275px;
            display : flex;
            justify-content: space-between;
        }
    }
    &#universityMap{
        background-color: black;
        height:800px;
        .movingLine{
            height:220px;
        }
    }
    &#unizone{
        height:200px;
        text-align: right;

    }
    &#mingle{
        height:400px;
    }
    &#videos{
        height:844px;
        background-color: black;
    }
    &#description{
        height:366px;
    }
}

.mainTitleDeco{
    background-color: black;
    height:40px;
    border-radius:25px;
    &#left{
        width:50px;
        transform: translate(-90%,0);
    }
    &#right{
        width:300px;
        transform: translate(180px,0);
    }
}

#phoneMockUp img{
    position: relative;
    float: right;
    top:2px;
    border-top-left-radius: 20px;
}

/*text*/
span{
    &.highlighted{
        color: $theme;
    }
    &.size12{
        font-size:12px;
    }
    &.size13{
        font-size:13px;
    }
    &.size14{
        font-size:14px;
    }
    &.size16{
        font-size:16px;
    }
    &.size36{
        font-size:36px;
    }
    &.light{
        font-weight: 300;
    }
    &.mid{
        font-weight:600;
    }
    &.bold{
        font-weight: bold;
    }
    &.grey{
        color : #636363;
    }
    &.white{
        color : white;
    }
    &.center{
        text-align: center;
    }

}
.title{
    margin-left:20px;
    font-size: 30px;
    &.big{
    margin-left:15px;
    font-size: 60px;
    }
}
.description{
    margin-left:20px;
    font-size:13px;
}


/*fixed icon*/
#smallButtonJoinBeta{
    width:70px;
    height:70px;
    position: fixed;
    right:8%;
    bottom:7%;
    background-color: $theme;
    border-radius: 35px;
    border:none;
}
#smallButtonJoinBeta div.icon{
    position: relative;
    top:10px;
    left:4px;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid white;
}
#smallButtonJoinBeta div.text{
    position: relative;
    top:25px;
    right:36px;
    width:100px;
    font-size: 12px;
}

/*footer*/
#bigButtonJoinBeta{
    position: relative;
    left:50%;
    transform: translate(-50%,0%);
    width:300px;
    height:50px;
    background-color: $background;
    color : $theme;
    font-size:18px;
    text-align:center;
    border-radius: 15px;
    border: 2px solid $theme;
    transition: all 0.25s ease;
    &:hover{
        color: white;
        background-color: $theme;
    }
    &:active{
        letter-spacing: 2px;
    }
}
#linkToInstagram{
    text-align: center;
    margin-top: 50px;
    img{
        transform: translate(-20%, 30%);
    }
}
